@model IEnumerable<HospitalAppoimentSolution.Data.ViewModels.DoctorView>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7">
                    <h3 class="page-title">Bác sĩ</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Bác sĩ</li>
                    </ul>
                </div>
                <div class="col-sm-5 col">
                    <a href="/Doctor/Add" class="btn btn-primary float-right mt-2">Thêm</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-md-12">

                <!-- Recent Orders -->
                <div class="card">
                    <div class="card-body">
                        <div class="table">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên</th>
                                        <th>Ảnh</th>
                                        <th>Thông tin</th>
                                        <th>Phòng ban</th>
                                        <th>Giá/giờ</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Name</td>
                                                <td><img style="width:200px;height:auto"  src="@item.Avatar" /></td>
                                                <td>@item.Address<br />@item.Phone<br />@item.Email<br />@string.Format("{0:dd/MM/yyyy}", item.BirthDay)</td>
                                                <td>@item.DepartmentName</td>
                                                <td>@item.Price/h</td>
                                                <td class="action-td">
                                                    <div class="row">
                                                        <a class="btn btn-success" href="/Doctor/Edit/@item.ID"><i class="fa fa-edit"></i></a>
                                                        <a class="btn btn-primary" href="/DoctorSchedule/List/@item.ID"><i class="fa fa-calendar"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /Recent Orders -->

            </div>
        </div>
    </div>

