@model IEnumerable<HospitalAppoimentSolution.Data.ViewModels.PatientView>
    <div class="col-md-6 d-flex">

        <!-- Feed Activity -->
        <div class="card  card-table flex-fill">
            <div class="card-header">
                <h4 class="card-title">Patients List</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên</th>
                                <th>Thông tin</th>
                                <th>Ngày đăng ký</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td>@item.Name</td>
                                        <td>@item.Address<br />@item.Phone<br />@item.Email<br />@string.Format("{0:dd/MM/yyyy}", item.BirthDay)</td>
                                        <td>@string.Format("{0:dd/MM/yyyy}", item.DateCreate)</td>

                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Feed Activity -->

    </div>