@model IEnumerable<HospitalAppoimentSolution.Data.ViewModels.PromotionView>
@using HospitalAppoimentSolution.Helper.Core
<section class="section section-blogs">
    <div class="container-fluid">

        <!-- Section Header -->
        <div class="section-header text-center">
            <h2>Khuyến mãi</h2>
            <p class="sub-title">Tin khuyến mãi dành cho bạn</p>
        </div>
        <!-- /Section Header -->

        <div class="row blog-grid-row">
            @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                var url = $"/khuyen-mai/{item.Title.ToUrlFormat(true, true)}-{item.ID}.html";
                    <div class="col-md-6 col-lg-6 col-sm-12">

                        <!-- Blog Post -->
                        <div class="blog grid-blog">
                            <div class="blog-image">
                                <a href="@url"><img class="img-fluid" src="@item.Avatar" alt="Post Image"></a>
                            </div>
                            <div class="blog-content">
                                <ul class="entry-meta meta-item">

                                    <li><i class="far fa-clock"></i> @String.Format("{0:dd/MM/yyyy}", item.StartDate) -  @String.Format("{0:dd/MM/yyyy}", item.EndDate)</li>
                                    <li style=" text-transform: uppercase; color: #6f37ec; font-weight: 600; letter-spacing: 1px;"><i class="far fa-file-code"></i> @item.Code</li>
                                </ul>
                                <h3 class="blog-title"><a href="@url">@item.Title</a></h3>
                                <p class="mb-0">@item.Desc</p>
                            </div>
                        </div>
                        <!-- /Blog Post -->

                    </div>
                }
            }
        </div>
        <div class="view-all text-center">
            <a href="/khuyen-mai.html" class="btn btn-primary">Xem thêm</a>
        </div>
    </div>
</section>
