@model IEnumerable<HospitalAppoimentSolution.Data.ViewModels.AppoinmentView>
@using HospitalAppoimentSolution.Helper.Core
@{
    ViewBag.Title = "OrderWidget";
    Layout = null;
}

<div class="card card-table mb-0">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-center mb-0">
                <thead>
                    <tr>
                        <th>Bác sĩ</th>
                        <th>Ngày</th>
                        <th>Giờ</th>
                        <th>Thành tiền</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            var url = $"/bac-si/{item.DoctorName.ToUrlFormat(true, true)}-{item.Doctor}.html";
                            <tr>
                                <td>
                                    <h2 class="table-avatar">

                                        <a href="@url">@item.DoctorName </a>
                                    </h2>
                                </td>
                                <td>@item.Date</td>
                                <td>@item.Time</td>
                                <td>@String.Format("{0:0,00}", item.Amount)</td>
                                <td>
                                    @if (item.Status == 0)
                                    {
                                        <p>Đang đợi</p>
                                    }
                                    @if (item.Status == 1)
                                    {
                                        <p>Đang thực hiện</p>
                                    }
                                    @if (item.Status == 2)
                                    {
                                        <p>Hoàn thành</p>
                                    }
                                    @if (item.Status == -1)
                                    {
                                        <p>Đã hủy</p>
                                    }
                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

